:root {
   
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --color-text: #333333;
    --color-lime: #d4f5c4;
    --color-purple: #4949F2;
    --color-cream: #fcf6f0;
    --color-purple-faint: #E4E4FD;
    --color-red: #F24949;
    


    --box-shadow-default: 0 4px 8px 0 rgba(0,0,0,0.05);
    --box-shadow-small: 0 2px 4px 0 rgba(0,0,0,0.05);
    --box-shadow-large: 0 8px 16px 0 rgba(0,0,0,0.05);
    --box-shadow-hairline: 0 0 0 1px rgba(0,0,0,0.10);
}

.html{
    overflow-x: hidden;
}

.main-box{
  background-color: white;
  max-width: 800px;
  width: 80%;
  border: none;
  margin: auto;
  padding: 20px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.first-section{
    text-align: left;
    font-size: 29px;
    line-height: 2.9rem;
    padding-bottom: 50px;
}

.second-section{
    text-align: left;
}

h2{
    padding-bottom: 15px;
    font-size: 27px;
}

.second-sectionP1{
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 1.8rem;
}

h3{
    padding-bottom: 15px;
    font-size: 27px;
}

.authors{
    display: inline-flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

h4{
    padding-bottom: 15px;
    font-size: 24px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
    padding-bottom: 45px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  h5{
    padding-bottom: 2px;
    font-size: 22px;
}

.second-sectionP2{
    padding-bottom: none;
    font-size: 20px;
    line-height: 2.7rem;
    padding-top: none;
}

.third-section{
    background-color: lightgreen;
}

h6{
    font-size: 40px;
    text-align: center;
    padding-bottom: none;
    height: 0.2rem;
}

.third-sectionP1{
    text-align: center;
    font-size: 18px;
    padding-bottom: 35px;
}

.button-section{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
}


.button{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5rem;
    border: 1px solid var(--color-purple);
    color: rgb(255, 255, 255);
    background-color: var(--color-purple);
  }
