:root {
   
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --color-text: #333333;
    --color-lime: #d4f5c4;
    --color-purple: #4949F2;
    --color-cream: #fcf6f0;
    --color-purple-faint: #E4E4FD;
    --color-red: #F24949;
}


/* THIS IS THE BEGINNING OF THE CSS FOR ABOUT US PAGE  */



























/* WRITE MEDIA QUERIES BELOW  */