:root {
   
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --color-text: #333333;
    --color-lime: #d4f5c4;
    --color-purple: #4949F2;
    --color-cream: #fcf6f0;
    --color-purple-faint: #E4E4FD;
    --color-red: #F24949;
    
}


  /* THIS IS THE INDEX PAGE CSS FILE */

.hero{
    display: flex;
    align-items: last baseline;
    justify-content: space-around;
    padding-inline: 4rem;
    gap: 1rem;
    border-bottom: solid 1px black;
    /* flex-wrap: wrap; */

}

.hero-left{
    width: 50%;
    padding-block: 2rem;
}






.hero-right img{
    width: 900px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}


.hero-text h3{
    color: var(--color-purple);
    font-size: .9rem;
    font-weight: 600;
}

.hero-text h1{
    font-size: 3.2rem;
    line-height: 3.5rem;
    
}
.hero-text h2{
    font-weight: 300;
    font-size: 1.1rem;
    width: 100%;
}



.list{
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: .9rem;
}

.hero-list{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding-block: 2rem;
}



.t-logo{
    width: 90px;
}

.stars{
    width: 120px;
}

.img-flex{
    display: flex;
    flex-direction: column;
}

.btn-hero{
    display: flex;
    gap: 2rem;
}

.hero-link{
    display: flex;
    gap: 1rem;
    align-items: last baseline;
}

.hero-link{
    text-decoration: none;
    color: var(--color-text);
    font-size: .8rem;
    font-weight: 600;
}

.rounded-btn{
    border-radius: 5px;
    font-size: .9rem;
}

.rounded-btn a{
    text-decoration: none;
    color: white;
}



.modal-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mod-side{
  display: flex;
  align-items: flex-start;
  padding-inline: 2rem;
}

.modal-left{
  width: 50%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.modal-right{
 
  width: 50%;
}
.modal-right img{
  transform: scale(1);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-box{
  z-index: 10;
  max-width: 880px;
  height: 550px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  color: white;
  transition: all 0.3s ease-in-out;
  border: none;
}



.modal-box h2{
  /* margin:0; */
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 2.4rem ;
  color: #333333;
}
.cancel-flex{
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.cancel{
  color: var(--color-text);
  background-color: white;
  padding: 5px;
  font-size: 30px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
 
}

.cancel:hover{
  color: white;
  background-color: var(--color-purple);
}

.modal-box h3{
  font-size: 1.4rem;
  font-weight: 300;
  padding-block: 1rem;
  text-align: left;
  color: #333333;
}

.modal-left h3 span{
  font-weight: 700;
}

.modal-btns{
  display: flex;
  gap: .9rem;
  flex-direction: column;
}

.goto{
  width: fit-content;
  display: flex;
  border-radius: 5px;
  padding-block: .6rem;
  padding-inline: 1rem;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #333333;
  transition: all 0.2s ease-in-out;
}

.goto:hover{
  background-color: var(--color-purple);
}

.integrates{
  color: var(--color-text);
  font-weight: 300;
}

.pop-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 1rem;
}

.pb-2{
  padding-block: 1rem;
}

.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 2rem;
  border-bottom: solid 1px black;
}

.rating h2{
  font-size: 2.2rem;
}


.details-flex{
  margin-inline: 3rem;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  gap: 2.7rem;
}


.details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
  padding:-inline 10px; 
  text-align: center;
  line-height: 1.4rem;
  gap: 1rem;
}
.details p:first-of-type {
  font-size: 1.4rem;
  font-weight: 600;
}


.details-text{
  font-size: .9rem;
  font-weight: 300;
}

.more-details{
  padding-block: 4rem;
  border-bottom: solid 1px black;
}



.more-details-flex{
  display: flex;
  align-items: first baseline;
  justify-content: center;
  gap: 3rem;
}


.more-details-card{
  display: flex;
  gap: 1rem;
  align-items: first baseline;
  justify-content: center;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
}

.more-details-card p{
  max-width: 90%;
  font-size: .9rem;
  font-weight: 300;
}


.purp-cont{
  width: 386px;
  height: 257px;
  border-radius: 15px;
  background-color: var(--color-purple);
}

.purp-cont img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.88);
}














































/* WRITE MEDIA QUERIES BELOW */


@media (max-width: 1502px) {
  .hero{
    flex-wrap: wrap;
    gap: 4rem;
  }
  .hero-left{
    width: 100%;
  }
  .hero-text{
    width: 100%;
  }
  .hero{
    margin-inline: 2rem;
  }

  .hero-right img{
    width: 1200px;
}
  
}



@media (max-width: 430px) {
  .hero-text h1{
    font-size: 2.3rem;
    line-height: 2.4rem;
  }  
}


@media (max-width: 520px) {
  .btn-hero{
    flex-wrap: wrap;
  }

}


@media (max-width: 604px) {
  .modal-box{
    width: 80%;
  }


  .modal-right{
    display:none;
  }
  .modal-left{
    width: 100%;
  }
  .mod-side{
    font-size: 12px;
  }
  .modal-flex h2{
    font-size: 1.4rem;
  }
  .modal-flex h3{
    font-size: 1.1rem;
  }

  
}
