:root {
   
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --color-text: #333333;
    --color-lime: #d4f5c4;
    --color-purple: #4949F2;
    --color-cream: #fcf6f0;
    --color-purple-faint: #E4E4FD;
    --color-red: #F24949;
    
}


  /* THIS IS THE INDEX PAGE CSS FILE */

.hero{
    display: flex;
    align-items: last baseline;
    justify-content: space-around;
    margin-inline: 4rem;
    gap: 1rem;
    /* flex-wrap: wrap; */

}

.hero-left{
    width: 50%;
}





.hero-right img{
    width: 900px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}


.hero-text h3{
    color: var(--color-purple);
    font-size: .9rem;
    font-weight: 600;
}

.hero-text h1{
    font-size: 3.2rem;
    line-height: 3.5rem;
    
}
.hero-text h2{
    font-weight: 300;
    font-size: 1.1rem;
    width: 100%;
}



.list{
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: .9rem;
}

.hero-list{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding-block: 2rem;
}



.t-logo{
    width: 90px;
}

.stars{
    width: 120px;
}

.img-flex{
    display: flex;
    flex-direction: column;
}

.btn-hero{
    display: flex;
    gap: 2rem;
}

.hero-link{
    display: flex;
    gap: 1rem;
    align-items: last baseline;
}

.hero-link{
    text-decoration: none;
    color: var(--color-text);
    font-size: .8rem;
    font-weight: 600;
}

.rounded-btn{
    border-radius: 5px;
    font-size: .9rem;
}

.rounded-btn a{
    text-decoration: none;
    color: white;
}

.overlap{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}



.modal-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  width: 100%;
  border-radius: 10px;
  background-color:var(--color-purple);
  color: white;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.modal-box h2{
  margin-block: 1rem;
  text-align: center;
  font-weight: 400;
  font-size:1rem ;
}

.modal-box h3{
  font-size: .8rem;
  font-weight: 300;
  padding-inline: 2rem;
  padding-block: 1rem;
  text-align: center;
  
}

.pop-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 1rem;
}

.pb-2{
  padding-block: 1rem;
}

body.active{
  filter: blur(20px);
}

.active.modal-box{
  opacity: 1;
  pointer-events: auto;
}

.active.overlap{
  opacity: 1;
  pointer-events: auto;
}




/* WRITE MEDIA QUERIES BELOW */


@media (max-width: 1502px) {
  .hero{
    flex-wrap: wrap;
    gap: 4rem;
  }
  .hero-left{
    width: 100%;
  }
  .hero-text{
    width: 100%;
  }
  .hero{
    margin-inline: 2rem;
  }

  .hero-right img{
    width: 1200px;
}
  
}



@media (max-width: 430px) {
  .hero-text h1{
    font-size: 2.3rem;
    line-height: 2.4rem;
  }  
}


@media (max-width: 520px) {
  .btn-hero{
    flex-wrap: wrap;
  }


}