:root {
   
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    --color-text: #333333;
    --color-lime: #d4f5c4;
    --color-purple: #4949F2;
    --color-cream: #fcf6f0;
    --color-purple-faint: #E4E4FD;
    --color-red: #F24949;
    


    --box-shadow-default: 0 4px 8px 0 rgba(0,0,0,0.05);
    --box-shadow-small: 0 2px 4px 0 rgba(0,0,0,0.05);
    --box-shadow-large: 0 8px 16px 0 rgba(0,0,0,0.05);
    --box-shadow-hairline: 0 0 0 1px rgba(0,0,0,0.10);
}
  

  
/* THIS IS THE BEGINNING OF THE CSS FOR PRICING PAGE  */

#preloader{
    background: white url(/assets/images/Pulse-1s-277px.gif) no-repeat center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  

.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header {
    text-align: center;
    font-size: 1.7rem;
    margin-top: 3rem;
}

/* THIS IS THE FLEBOX FOR THE THREE CARDS */
.card-flex{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 2rem;
    /* background-color: green; */
}

/* THIS IS THE INDIVIDUAL FLEX-BOXES */
.plans {
    display: flex;
    align-items: center;
    flex-direction: column;  
    /* background-color: purple */
}

/* THIS IS THE CENTERED COMPONENT IN THE CARDS . USED POSITION ABSOLUTE */
.move h2{
    background-color: var(--color-purple);
    color: white;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    padding-inline:1rem ;
    padding-block: .4rem;
    transform: translateX(-15px);
    transform: translateY(-15px);
}

.first{
    margin-left: -80px;
}
.second{
    margin-left: -100px;
}
.third{
    margin-left: -110px;
}





/* THIS IS FOR DEBUGGING (DONT TOUCH) MAIN FLEX CONTAINER PER CARD */
.tier {
    display: flex;
    /* background-color: orange; */
    border: none;
}
/* THIS CONTROLS SIZE OF THE CARD AND SPACE BETWEEN BUTTONS */

.tier-container-btn{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    /* gap: 8rem; */
    padding-inline: 2.3rem;
    padding-block: 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

.list-box{
    display: flex;
    align-items: first baseline;
    gap: 2rem;
    margin: 0;
    flex-direction: column;
}

/* THESE ARE STYLES FOR PRICING COMPONENTS */
.unstyled{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin: 0;
    padding: 0;
}

.list{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}


.text {
    font-size: .9rem;
    font-weight: 400;
}

.list-header h2{
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.highlight h2{
    color: var(--color-purple);
}



.list-header h3{
    font-size: 1.5rem;
    font-weight: 300;
}

.list-header h3 span{
    font-weight: 600;
    font-size: 1.8rem;
}

/* THIS IS THE BUTTON COMPONENT */
.cta-btn{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    background-color: var(--color-text) ;
    color: white;
    text-decoration: none;
    padding-block: 1rem;
    border-radius: 5px;
   
}
.highlight-btn{
    background-color: var(--color-purple);
}


.bottom-text{
    text-align: center;
    font-weight: 500;
    margin-block: 3rem;
    font-size: 1rem;
}

.mt-6{
    margin-top: 9rem;
}




ul p{
color: grey;
font-weight: 300;
font-size: .75rem;
}

.white{
    border: 1px solid black;
}

.green{
    background-color: var(--color-lime);
    min-height: 800px;
    border: 1px solid black
}



@media (max-width: 300px) {
    .move h2{
        font-size: 12px;
    }
    
}






/* WRITE MEDIA QUERIES BELOW  */


